/* Estilos generales para una página web con un diseño oscuro y acentos en cian, que incluye una barra de navegación fija, secciones de contenido con botones de llamada a la acción, una tabla estilizada, un formulario de contacto, y un pie de página. También incluye efectos de hover y responsividad para pantallas pequeñas. */

/* General Styles */
body {
    font-family: 'Share Tech Mono', monospace; /* Aplicar Share Tech Mono */
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #00FFFF;
}

/* Partículas */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Barra de navegación */
.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navbar a {
    text-decoration: none; /* Quita el subrayado */
    color: #00FFFF; /* Color cian */
    font-weight: bold; /* Hace que el texto sea más visible */
    transition: color 0.3s ease; /* Efecto suave en hover */
}

.navbar a:hover {
    color: #FFFFFF; /* Cambia a blanco al pasar el mouse */
    text-shadow: 0px 0px 5px #00FFFF; /* Brillo al pasar el mouse */
}

.navbar a:active {
    color: #FFD700; /* Color dorado cuando se hace clic */
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center;
    }
    .navbar a {
        padding: 10px; /* Añade espacio entre enlaces */
    }
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.cta-button {
    color: #000000;
    background-color: #00FFFF;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #008B8B;
}

/* Table Styles */
.styled-table {
    width: 80%;
    margin: 0 auto 20px;
    border-collapse: collapse;
}

.styled-table th, .styled-table td {
    padding: 15px;
    border: 1px solid #00FFFF;
    text-align: center;
}

.styled-table th {
    background-color: #00FFFF;
    color: #000;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #222;
}

/* Contact Form */
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #00FFFF;
    border-radius: 5px;
    background-color: #222;
    color: #00FFFF;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #00FFFF;
    border: none;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #008B8B;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #222;
    color: #00FFFF;
}
