/* Fondo oscuro con un toque de neón */
body {
    background-color: #000000;  /* Fondo oscuro gris */
    color: #00FFFF; /* Texto en cyan */
    font-family: 'Share Tech Mono', monospace; /* Cambiar la fuente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambiado de 'center' a 'flex-start' */
    min-height: 100%; /* Cambiado 'height' por 'min-height' */
    margin: 0;
    overflow-y: auto; /* Permite el desplazamiento vertical */
}

/* Partículas */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Estilo para el ASCII Art */
.ascii-title {
    text-align: center;
    white-space: pre;
    font-size: 16px;
    color: #00FFFF;
    z-index: 1;
    position: relative;
}

/* Contenedor del contenido */
.content {
    margin-top: 20px;
    color: #00FFFF;
    font-size: 1.2em;
    text-align: center;
    max-width: 800px;
    z-index: 1;
    position: relative;
    padding-bottom: 3rem; /* Añadido para asegurar que el footer no se solape */
}

/* Barra de navegación */
.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 0 2rem;
}

.navbar a {
    color: #00FFFF;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #FFFFFF;
}

/* Fondo de lluvia */
.rain-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.raindrop {
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: #00FFFF;
    opacity: 0.6;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

/* Estilo para los enlaces */
.content a {
    margin-top: 20px;
    color: #00FFFF;
    text-decoration: underline;
}

/* Efecto neón en los textos */
.ascii-title, .content p {
    text-shadow: 0 0 5px #00FFFF, 0 0 10px #00FFFF, 0 0 15px #00FFFF;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #00FFFF;
}

footer a {
    color: #00FFFF;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
}

footer a:hover {
    color: #fff;
}
